{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <img src="{% static 'images/logo.png' %}">
        <h1>Sua Voz em Gesto</h1>
        <a href="https:xxxx.com">
            <img src="{% static 'images/amazon.jpg' %}" alt="Seta para baixo">
        </a>
    </div>
</body>
</html>